<div class="container-fluide">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <div>
                Name:
                <a ng-show="hasRole('ROLE_ADMIN')" href="#" editable-text="house.name" onbeforesave="checkName($data)"
                   onaftersave="updateHouse()">{{ house.name || 'empty' }}</a>
                <label ng-show="!hasRole('ROLE_ADMIN')">{{ house.name || 'empty' }}</label>
            </div>
            <div>
                Address:
                <a ng-show="hasRole('ROLE_ADMIN')" href="#" editable-text="house.address"
                   onbeforesave="checkAddress($data)" onaftersave="updateHouse()">{{ house.address || 'empty' }}</a>
                <label ng-show="!hasRole('ROLE_ADMIN')">{{ house.address || 'empty' }}</label>
            </div>
        </div>

        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <div ng-show="hasRole('ROLE_ADMIN')" class="col-md-2">
            <a href="" class="btn btn-primary btn-lg" ng-click="addFloor()">
                Add floor
            </a>
        </div>
        <div class="col-md-10" style="margin-top: 10px">
            Your house is <b>{{house.floors.length}}</b> floors high
        </div>
    </div>
    <div class="row" style="margin-top: 20px" ng-repeat="floor in house.floors">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Floor number <b>{{house.floors.length - $index}}</b>
                    <i ng-show="hasRole('ROLE_ADMIN')"
                       ng-click="removeFloor(floor)"
                       class="fa fa-close pull-right"
                       style="padding-top: 5px; padding-right: 5px; cursor: pointer"></i>
                </h3>
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1"
                             ng-show="hasRole('ROLE_ADMIN')"
                             style="margin-right: 25px">
                            <button href=""
                                    ng-click="addRoom(floor)"
                                    class="btn btn-room btn-success btn-lg"
                                    role="button">
                                <i class="fa fa-plus"></i><br>
                                Add room
                            </button>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" style="margin-right: 25px" ng-repeat="room in floor.rooms">
                            <button type="button"
                                    class="btn btn-room btn-info btn-lg dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-expanded="false"

                                    ng-disabled="!hasRole('ROLE_ADMIN')">
                                <i class="fa" ng-class="{'fa-user' : room.tenant, 'fa-circle-o': !room.tenant}"></i>
                                &nbsp;<span class="caret"></span><br>
                                {{tenantString(room)}}
                            </button>
                            <ul class="dropdown-menu" role="menu" style="left: inherit">
                                <li><a href="" ng-click="setTenant(room)">Set tenant</a></li>
                                <li><a href="" ng-click="removeTenant(room)">Expel tenant</a></li>
                                <li><a href="" ng-click="deleteRoom(floor, room)">Destroy room</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row well">
        This is a basement. To add new floor you can press "Add floor" button. Build your house from here!
    </div>
</div>